In [1]:
import pandas as pd

In [2]:
path = "E:/Data analytics bootcamp/Challenges/final/data/vehicles.csv"
df = pd.read_csv(path)
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [3]:
df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [4]:
dropped_df = df.drop(columns=['url', 'region', 'region_url', 'image_url', 'description', 'county', 'lat', 'long', 'posting_date', 'VIN', 'size', 'id'])

In [5]:
df_droppedna = dropped_df.dropna(axis=0, how='any')
df_droppedna

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state
31,15000,2013.0,ford,f-150 xlt,excellent,6 cylinders,gas,128000.0,clean,automatic,rwd,truck,black,al
32,27990,2012.0,gmc,sierra 2500 hd extended cab,good,8 cylinders,gas,68696.0,clean,other,4wd,pickup,black,al
33,34590,2016.0,chevrolet,silverado 1500 double,good,6 cylinders,gas,29499.0,clean,other,4wd,pickup,silver,al
34,35000,2019.0,toyota,tacoma,excellent,6 cylinders,gas,43000.0,clean,automatic,4wd,truck,grey,al
35,29990,2016.0,chevrolet,colorado extended cab,good,6 cylinders,gas,17302.0,clean,other,4wd,pickup,red,al
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426859,48590,2020.0,cadillac,xt6 premium luxury,good,6 cylinders,gas,7701.0,clean,other,fwd,other,black,wy
426860,39990,2017.0,infiniti,qx80 sport utility 4d,good,8 cylinders,gas,41664.0,clean,automatic,4wd,other,black,wy
426866,32990,2016.0,infiniti,qx80 sport utility 4d,good,8 cylinders,gas,55612.0,clean,automatic,rwd,other,black,wy
426874,33590,2018.0,lexus,gs 350 sedan 4d,good,6 cylinders,gas,30814.0,clean,automatic,rwd,sedan,white,wy
426878,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,gas,30112.0,clean,other,fwd,sedan,silver,wy

In [6]:
df_sorted = df_droppedna.sort_values(by='manufacturer')
df_sorted.head()

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state
299497,24990,2018.0,acura,tlx 3.5 w/technology pkg,good,6 cylinders,other,45464.0,clean,other,fwd,sedan,blue,oh
253392,2399,2003.0,acura,mdx,fair,6 cylinders,gas,143000.0,clean,automatic,4wd,SUV,grey,nj
253362,0,2008.0,acura,tl type s,like new,6 cylinders,gas,99000.0,clean,automatic,fwd,sedan,black,nj
164400,10950,2012.0,acura,tsx,good,4 cylinders,gas,115162.0,clean,automatic,fwd,sedan,white,ks
253279,30995,2018.0,acura,mdx sh-awd,like new,6 cylinders,gas,48743.0,clean,automatic,4wd,SUV,grey,nj

In [7]:
# lookup list of makes of our data
makes = df_sorted['manufacturer'].unique()
print(makes)

['acura' 'alfa-romeo' 'aston-martin' 'audi' 'bmw' 'buick' 'cadillac'
 'chevrolet' 'chrysler' 'datsun' 'dodge' 'ferrari' 'fiat' 'ford' 'gmc'
 'harley-davidson' 'honda' 'hyundai' 'infiniti' 'jaguar' 'jeep' 'kia'
 'land rover' 'lexus' 'lincoln' 'mazda' 'mercedes-benz' 'mercury' 'mini'
 'mitsubishi' 'nissan' 'pontiac' 'porsche' 'ram' 'rover' 'saturn' 'subaru'
 'tesla' 'toyota' 'volkswagen' 'volvo']

In [8]:
# seperate into each make using lookup list
manufacturer_dfs = {}

for manufacturer in makes:
    # Create a DataFrame for each manufacturer
    manufacturer_dfs[manufacturer] = df_sorted[df_sorted['manufacturer'] == manufacturer]

In [9]:
# begin splitting into makes dfs
acura_df = manufacturer_dfs['acura']
alfa_romeo_df = manufacturer_dfs['alfa-romeo']
aston_martin_df = manufacturer_dfs['aston-martin']
ford_df = manufacturer_dfs['ford']
toyota_df = manufacturer_dfs['toyota']

In [10]:
# see how messy models are
toyota_models = toyota_df['model'].unique()
print(toyota_models)

['4runner limited sport' 'highlander se' 'sienna xle' 'tacoma' 'camry'
 'land cruiser fj80' 'prius four' 'tacoma prerunner'
 'tacoma double cab pickup' 'rav4' 'prius two hatchback 4d' 'prius'
 'corolla' 'corolla le' 'sequoia limited 4wd' 'tundra 1794 4x4' 'tundra'
 'avalon' '4runner 4wd' 'tundra double cab sr' 'rav4 awd 5 speed'
 'camry solara sle' 'sienna le' '4runner' 'tacoma 4wd trd offroad'
 'highlander limited awd' 'echo' 'camry le' 'tundra sr5'
 'highlander hybrid limited' 'scion xb' 'sienna' 'camry se'
 'camry se 4dr sedan' 'tundra 4x4' 'corolla s' 'tundra sr5 4x4'
 'tundra crewmax sr5 4x4' '4runner sr5 sport utility' 'tacoma 4x4'
 'highlander' 'tundra crewmax sr5 pickup' 'solara sle convertible'
 'prius hybrid' 'avalon xlt' 'prius v' 'avalon limited' 'sienna le awd'
 'camry se 4-dr sedan' 'tacoma double cab sr5' 'highlander sport utility'
 'avalon xle premium' 'rav4 hv' 'sequoia' 'tundra double cab sr5'
 'electric rav4 prime xse awd' 'tacoma double cab' 'avalon hybrid limited'
 'tacoma sport' 'prius iii' 'tacoma trd off-road' 'solara' 'yaris'
 'rogue rv' 'tercel' 'avalon xle premium sedan' 'supra' 'yaris ia'
 'avalon xse sedan 4d' 'highlander sport' 'base' 'tacoma sr5 2.7l 4x4'
 '4x4' 'tundra 4wd sr5' 'tacoma sr5 4x4 double cab' 'camry xle'
 'sequoia sr5' 'sienna xle awd' '4runner sr5' '4runner trd pro sport'
 'tundra sr double cab' 'rav 4' 'scion tc' 'corolla le 4dr sedan'
 '4runner trd pro' 'tundra limited' 'sienna ce' 'land cruiser'
 'prius plug-in hybrid' 'camry le 4dr sedan' 'tundra trd pro' 'matrix'
 'four runner' 'camry 4dr.xle' 'tundra crewmax sr5' 'estima emina'
 'pickup truck' 'tacoma 2wd' 't100 dx' 'matrix base' 'corolla ce'
 'land cruiser fj40' 'mr2' 'tacoma 4x4 trd off road' 'camry se awd'
 'highlander limited' 'camry hybrid' 'tacoma trd off road'
 '4runner sr5 4x4' 'tacoma sr5 4x4' 'rav4 sport' '4 runner' 'rav4 2wd'
 'matrix xr' 'tundra 4wd truck' 'venza' 'tacoma sr5' '4runner limited 4x4'
 'sienna ce 7 passenger' 'venza ltd awd' 'tacoma double cab trd'
 '4runner sr5 v6' 'rav4 xle' 'highlander base plus' '4runner limited v6'
 'rav-4 xle' 'sequoia platinum' 'prius two' 'tacoma 4x4 quarter ton'
 'tundra sr5 sport' 'avalon xls' 'celica gts' 'van' 'tacoma sr'
 '4runner sr5 4wd' 'prius five' '4runner trd offrd premium'
 'tacoma access cab sr5' 'prius c' 'land cruiser 4wd' 'tacoma base'
 'hilux surf 4runner' 'rav4 awd limited' 'rav4 all wheel drive'
 'camry hybrid sedan' 'venza wagon 4d' 'camry hybrid xle'
 'tundra double cab pickup' 'sequoia limited' 'yaris hatchback' 'venza v6'
 'prius prime' 'fj40 landcruiser' 'prius xle awd hatchback'
 'prius touring' 'yaris sedan' 'pickup 4x4' 'landcruier'
 'tacoma access cab' 'tundra 4wd' 'mr2 spyder' 'hiace' 'sienna limited'
 'hiace van' 'celica' 'camry le 2.4l' 'highlander limited 4wd'
 '4runner trail premium' '4runner sr5 premium' 'sienna se'
 'prius hybrid hatchback' 'matrix s' 'fj40 land cruiser'
 'tundra sr5 double cab' 'tundra 2wd' 'tacoma prerunner sr6 2wd'
 'sienna le minivan' 'highlander xle' 'sienna le 8-passenger'
 'sienna se minivan 4d' 'venza awd' 'camry xls' 'camry ce' 'landcruiser'
 'rav4 newgener' 'fj cruiser sport utility' '4runner limited'
 'avalon limited sedan 4d' 'tundra crewmax limited' 'fj cruiser'
 '2 door echo' 't100' 'tundra 4 doors, limited' 'rav4 awd' 'corolla.le'
 'rav4 limited' 'pickup' 'tundra sr5 limited' 'tundra crewmax' 'solara se'
 'corolla..le' 'tacoma prerunner v6' 'tundra crewmax pickup 4d' 'scion iq'
 'corona' 'tundra sr5 4x2 crewmax' 'solara se convertible'
 'tacoma sr5 crew cab' 'celica gt convertible' 'camry se v6'
 'tacoma crew cab' '2wd 4 cyl pickup' 'rav4 xle 4wd' 'camry solara'
 'avalon xls sedan 4d' 'rav 4 xle 4x4' 'highlander awd'
 'camry solara convertible' 'venza le awd' 'camry le 2009'
 'highlander v6 (awd)' 'rav4 limited 4x4' 'tacoma trd sport'
 'tundra (4.7l)' '4runner limited v8 awd' 'sienna le 8 pass.'
 'tundra double cab sr5 4x4' 'rav4 xle awd' 'camry le sedan 4d'
 'highlander ltd' 'corolla 2' 'prius prime advanced'
 'avalon xle touring sedan' 'tundra crewmax trd pro' 'venza xle awd'
 'townace diesel' 'prius iv' 'highlander 4x4' 'fj cruiser 4x4'
 'tundra 2wd truck' '4runner 4x4' 'tacoma sr5 prerunner'
 'tundra off road 4x4' 'mr2 turbo' 'camry 4d sedan' 'land cruiser prado'
 'tacoma 73k' 'camry xle v6' 'tundra 4wd truck double' 'tacoma v6'
 'tacoma / tundra' 'rav' 'tundra 4wd double cab 4x4' 'avalon xl'
 '4runner sr5 **4wd**' 'fj cruiser base' 'corrolla' 'fj62 land cruiser'
 'avalong limited' 'tacoma trd' 'yaris le 3 dr' 'highlander sport 4x4'
 'rav4 le automatic' 'tundra limited 4x4' 'cressida' 'tundra platinum'
 'fj40' 'highlander v6' 'sienna se premium minivan' 'previa'
 'tundra trd pro 4x4' 'rav4 se' 'avalon xle sedan 4d'
 'sienna l minivan 4d' 'tundra platinum 4x4' 'yaris 2dr hatchback'
 '4runner sport' 'scion xd' 'tacoma trd pro' 'camrey le' 'corolla dx'
 '4runner sr% 4x4' 'highlander 4wd 3.3' '4runner sr5 premium 4x4' 'priusc'
 'camery' 'prius hybrid 2011' '4runner sr5 sport' 'rav4 limited awd'
 'prius c hybrid' 'sienna fwd limited white' 'celica gt' 'prius hatchback'
 'tundra trd 4x4' 'sprinter carib' 'scion' 'hilux' 'tundra double cab'
 '4runner sport edition 4wd' 'rav4h' 'scion xa' 'tundra 4x2 double cab'
 'prius three' 'supra jza80' 'tacoma pickup' 'celica gt-s'
 'corolla im cvt' 'mighty max' 'prius base 4dr sedan' 'sienna xle limited'
 'tundra sr5 double cab 4x4' 'prius v hatchback' 'paseo'
 'rav4 limited 4wd' 'tundra crewmax 4wd' 'prius hybrid three'
 'tundra 4x4 trd' 'fj cruiser 4wd' 'tundra 4wd truck 4wd trd'
 'tacoma limited 4x4' 'highlander base' 'tacoma 4wd'
 'tacoma double cab 4wd v6' 'tacoma access cab 4wd sr5'
 'tundra limited double cab' 'sienna xle limited awd' 'corolla se'
 'highlander v-6' 'sienna se 8 passenger' 'tundra access cab'
 'tacoma xtracab' 'tacoma 2008' '4runner sporty' 'yaris s'
 'rav4 limited v6' 'corolla le 1.8l' 'corolla im' 'highlander hybrid awd'
 'tacoma trd 4x4' 'tacoma sr5 dbl lb' 'tacoma regular cab 4wd'
 'tundra sr5 tss edition' 'corolla s sedan 4d' 'prius hybrid touring'
 'venza awd v6' 'prius v five' 'camry hybrid le' 'c-hr' 'previa sc'
 'rav4 le' 'rav4 sport 4x4' 'tacoma pickup truck'
 'tacoma 4wd 4wd trd pro do' 'prius hybrid cab' 'matrix xrs' 'townace'
 'camry le v6' 'prius plug-in' 'tacoma trd sport 4x4' '4 runner sr5'
 'prius premium' 'tacoma trd off road 4x4' 'prius two 2015' 'prius c 4'
 '4x4 pickup truck' 'rav 4 le' 'prius v wagon' 'corolla s plus'
 'highlander le' 'tundra sr5 crew max' 'tacoma trd pro 4x4'
 'corolla se 4d sedan' 'prius 2' 'tacoma truck 4x4' 'avalon trd sedan 4d'
 'tacoma prerunner trd rwd' 'prius hybrid 5' 'tacoma trd prerunner'
 'tundra crewmax 4x4' 'prius hybrid iv' 'tundra limited 4x4 trd'
 'rav4 hybrid xle' 'tacoma limited' 'sera' 'camry se sedan' 'rav4 hybrid'
 'tacoma srs' 'sr-5' 'sienna minivan' 'rav-4' 'avalon touring sedan 4d'
 'tacoma double cab limited' 'prius hybrid five' 'celica convertible'
 'prius persona series' 'carolla' 'tacoma sr5 trd sport'
 'fj cruiser | *one owner*,' 'tundra sr5 double cab 4wd' 'tundra sr5 4wd'
 'tacom' 'sienna xle premium' '86' 'rav4 4 x 4' 'highlander hybrid'
 'venza awd xle' 'highlander v6 4wd' 'chr' '4runner sr5 premium sport'
 '86 2.0l' '4runner sr5premium 4x4' 'camry hybrid se'
 'highlander limited pla' 'tundra rock warrior' 'rav4 prime xse'
 'camry - se' 'corolla - le' 'tacoma 4wd sr | 4x4, v6,' 'prius v hybrid'
 'camry se sport' 'tundra double cab limited' '4runner 4wd 4dr. suv'
 'landcruiser fj60' 'tacoma prerunner sr5' 'camry xle v 6'
 'sienna xle 8-passenger' 'hino' '86 gt' 'celica st' 'venza se' 'flat bed'
 'camry solara sel' 'truck' 'trd pro' 'tacoma access cab trd pro'
 'highlander suv' 'corolla xrs' 'corolla apex se' 'tundra sr5 trd'
 'prius c one' 'corolla l' '4runner trd pro 4x4' 'sequoia platinum 4x4'
 'camry sedan' 'tundra double cab 4x4' 'hilander' 'prius ii'
 'avalon touring xle' 'avalon touring' 'prius plug in hybrid'
 'camry xse sedan 4d' '4runner 4x4 4dr. suv' 'rav4 sport awd'
 'sienna le fwd' 'venza limited' 'tundra sr5 4x4 trd'
 'land cruiser landcruiser' 'highlander limited platin' 'rav-4 4wd'
 'corolla le sedan' 'prius prime premium' 'rav4 4wd 5 speed'
 'rav4 limited 4wd nav' 'prius plug in' 'rav4 fwd' 'sequoia 4wd platinum'
 'tundra sr5 trd 4x4' 'sienna xle minivan 4d' 'rav 4 prime'
 'supra twin turbo' 'crown' 'martrix' 'scion xa hatchback' 'corolla .'
 'sequoia sr5 4x2' 'tundra sr5 access cab' 'rav4 le awd' 'solara sport'
 'tundra 2 wd' 'yaris ia sedan' 'tacoma prerunner 4x2' 'matrix 4wd'
 'tacoma sr access cab 4x2' 'tacoma pre-runner v6' 'salara sle' 'camry dx'
 'yaris fwd' 'highlander plus' 'sienna se 8-passenger' 'tacoma sr5 v6'
 '4runner sr5 4x2' 'sienna limited awd' 'rav4 ltd' 'tacoma extended cab'
 'tundra trd off road' 'rav4 s' 'camry xle sedan 4d'
 'tacoma prerunner sr5 trd' 'prius c hatchback' 'rav4 adventure awd'
 'tacoma access cab trd' 'corrola le' 'tundra sr5 trd off road'
 'rav4 hybrid limited' '4runner limited 4wd' 'rav4 4wd'
 'yaris se hatchback' '4runner sr' '4runner sr5 sport v8 4wd' 'tundra sr'
 'sienna awd van' 'highlander 2wd' 'tacoma 2d' 'camry le sedan'
 'avalon limited hybrid' 'rav 4 limited' 'tundra 4wd truck sr' 'sequioa'
 'corolla s sedan' '4x4 truck' '4runner trd off road' 'sienna xle fwd'
 'sienna l' 'tacoma trd sport v6' 'avalon ltd' 'rav4 hybrid xle awd'
 'prius v five hybrid' 'yaris sedan le' 'prius prius ii'
 'mr2 spyder convertible' 'corolla liftback' 'pick-up' 'yaris le'
 'tacoma access cab sr' 'rv4' '4runner pro' 'landcrusier'
 'camry solara sle v6' 't-100' 'corolla le 4d sedan'
 'corolla special edition' 'celica trd' 'corolla matrix xr'
 'highlander base 4wd' 'rav4 base' 'camry v6' '4-runner sr5' 'liteace 4wd'
 'highlnader 4x4' 'corolla 2006' '4x4 pickup' 'rav 4 4wd 5 speed'
 'tacoma pre-runner sr5' 'prius four hybrid' 'tacoma regular cab 2wd'
 'venza le' 'liteace' 'hzj75 landcruiser' 'townace camper' 'avalon xle'
 'tacoma 4 x 4' 'land crusier' 'tacoma 2wd crew cab' 'tacoma sport 4x4'
 'camry se auto 4dr' 'tacoma double cab 4x4' 'tundra tss off road'
 'rav4 sport 4wd' 'landcruiser fj62 4wd' 'tacoma access cab pickup'
 't100 4x4' 'tacoma 2dr xtracab' 'scion tc 2.4 dohc' 'camry 4d sedan le'
 'camry 2001' 'highlander le hybrid' '4runner sr5 v6 4x4' 'prius 3'
 'camry xse' '4runner sport 4wd' 'matrix xr awd' 'camry ce sedan'
 'corolla matrix' 'sequoia limited 4x4' 'tundra sr5 5.7'
 '4runner sport edition' 'matrix awd' 'tacoma v6 4dr double cab'
 'tacoma x-runner' 'omgea' 'prius plus hybrid' 'fj' 'prius v 5'
 'corolla sedan' 'highlander v6 limted' 'camry solara se'
 'avalon hybrid xle touring' 'tundra crewmax 1794' 'prius four touring'
 'tacoma standard cab' 'prius c two' '4runner trd premium' 'fj crusier'
 'rav 4 hybrid limited' 'corolla le sports package' 'supra a91'
 'sequoia srs' 'tundra sr 4x4' 'camry 2.4l le' 'corolla hatchback'
 'matrix xr hatchback' 'tacoma sr5 rwd' 'land cruiser 4x4' 'hiace diesel'
 'pruis two' 'highlander 4wd' 'tundra 2wd truck limited' 'landcruiser 4x4'
 'tundra 2wd truck sr5' 'sequoia sr5 platinum' 'pre runner'
 'sienna limited premium' 'avalon xle plus' 'corolla sport' 'sianna'
 'prius six' 'tacoma long bed sr5' 'tundra sr5 v6' '4- runner'
 'tundra trd sport' 'hiace 4wd' 'corolla ce sedan' '4runner sr5 sport awd'
 'camry trd' 'matrix sports' 'highlander le plus v6'
 'tacoma prerunner double c' 'tundra 1794 edition' 'camry xle4'
 'sienna le minivan 4d' 'yaris coupe hatchback' 'rav4 hybrid xse'
 'hiace scl 4wd' 'tundra flat bed' 'sienna le 2011' 'c hr'
 'celica gt sunchaser' 'highlander platinum' 'celsior'
 'tacoma 4wd trd off road' 'pick up' 'tundra access cab sr5' 'sienna awd'
 'avalon xls sedan' '4runner 4wd sport edition' '4runner venture sport'
 'tacoma double cab trd 4x4' 'hiace super custom 4wd jdm van, model lh107'
 'rav4 4wd limited' 'prius v three wagon 4d' 'tundra trd offroad'
 'rwd pick up truck' 'tacoma limited v6' '4 runner 4wd'
 'tundra limited 4x4 gas' 'tundra sr5 d/door' 'corolla hybrid le'
 '4runne sr5' 'tacoma x-cab' 'avalon hybrid' 'prius 4dr' 'travelmaster'
 'tundra 4x4 2016' 'land cruiser 100 series' 'land cruiser fj60'
 'prius c base iii' 'solara convertible' 'avalon xle touring'
 'sequoia platinum 4wd 1 owner' 'tundra sr5 4wd 5.7l 1 owner'
 'highlander se awd v6' 'tacoma 4wd 1 owner'
 '4runner leather 3rd seat 1owner' 'camry se (sports edition)'
 'tundra grade' 'landcruiser fjz' 'tacoma xtra cab' 'landcruiser fj40'
 'rav 4 xle' 'highlander se awd' 'tacoma doublecab' 'tacoma 4x4 limited'
 'fj cruiser 4wd auto' 'highlanderawd' 'tubdra sr5' 'corolla eco'
 'corolla xle' 'sequoia 4x4' '4runner trd offroad' 'yari ia'
 '4 runner trd pro' '4runner trd off-road' 'scion xb wgn'
 'tundra dbl cab sr5' 'sienna xle 7 passenger' 'mrx' 'tundra sr5 crewmax'
 'camry l' 'camry se(sports edition)' 'rav4 "sport"' 'sienna le van'
 'solara sle' 'highlander xle v-6' 'avalon xse' 'camry se v-6'
 'sequoia 4wd' 'prius 5' 'rav 4 limited awd' 'corolla le plus' 'fj 62'
 'rav4 limited fwd' 'corolla camry' 'prius hybrid131,184' 'turcel sr5 4wd'
 'tacoma trd offroad' 'highlander base awd' 'rav limited'
 'highlander xle awd' 'tacoma 4x4 trd' 'avalon hybrid xle' 'rav adventure'
 'tacoma trd sport access' 'tundra platinum crewmax' 'rav4 sport utility'
 'fj cruiser 2011' 'supra 3.0 premium gr' 'sienna awd xle limited'
 'camry 4x4' 'sienna se premium' 'land cruiser awd' 'corolla le automatic'
 'tundra 4wd truck sr5' 'seirra' 'sequoia limited sport' 'matrix s awd'
 'rav4 4x4' 'camry xle sedan' 'corolla￼￼' 'land cruiser fj62'
 'tundra crewmax 4x4 5.7l' 'camry hybrid | gas saver,'
 'camry se special edition' 'sienna limited white' 'venza 2.7l xle-awd'
 'rav4 2.5l le crossover' 'tacoma 4x4 trd doublecab' 'venza le/awd'
 'highlander 3.5 limited' 'sequioa sr5' 'tundra sr5 crew cab'
 'camry v6 auto le' 'rav4 awd v6' 'sequoia sr5 4x4' 'pilot exl'
 'highlander xle sport' 'sienna ltd' 'prius 2 hybrid' 'estima'
 'venza fwd v6' 'highlander awd le' 'celica supra' 'bj74 land cruiser'
 'tundra access cab sr5 4wd' '4runner sport v8 4x4' '4runner sr5 4wd suv'
 'camry xle 4c' 'winnebago' 'soarer' 'corolla le eco'
 '4runner limited v8 4x4' 'tundra sr5 access cab 4x4'
 'tacoma double cab sr' 'highlander limited 2016' 'tundra double cab 4wd'
 'venza wagon' 'hylander' 'camry se 2.5' 'sequoia sr5 4wd'
 'tundra crewmax platinum' 'landcruiser prado' 'corolla le sport'
 'pruis iii' 'corolla “s”' 'rav4 se 4x4' '22re' 'corolla fx16'
 'rav 4 xle awd' 'prius prime plus' 'solara conv.' 'fj 40' 'prius c three'
 'camry solara se v6' 'venza limited awd']

In [ ]:
# first attempt model cleaning
from fuzzywuzzy import process

toyota_df['model'] = toyota_df['model'].str.lower()

# Define a list of standard model names
standard_models = ['tacoma', 'camry', 'corolla', 'prius', 'rav4', '4runner', 'tundra', 'prius', 'land cruiser', 'sienna', 'highlander', 'avalon', 'matrix', 'solara', '86', 'hiace', 'venza', 'yaris', 'celica', 'van', 'supra', 'townace', 'litace', 'tercel', 'mr2', 'chr'] 

# Use fuzzywuzzy's process.extractOne to find the best match for each model
# toyota_df['standard_model'] = toyota_df['model'].apply(lambda x: process.extractOne(x, standard_models)[0])
# relys on hardcoding and string matching, works but you have to manually find the correct model name, not ideal

Read CSV containing car makes and models to standardize models in above

In [15]:
path = "E:/Data analytics bootcamp/Challenges/final/data/Car Dataset 1945-2020.xlsx"
cars_df = pd.read_excel(path)
cars_df.head()

,id_trim,Make,Modle,Generation,Year_from,Year_to,Series,Trim,Body_type,load_height_mm,...,front_suspension,steering_type,car_class,country_of_origin,number_of_doors,safety_assessment,rating_name,battery_capacity_KW_per_h,electric_range_km,charging_time_h
0,1,AC,ACE,1 generation,1993.0,2000.0,Cabriolet,3.5 MT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
1,2,AC,ACE,1 generation,1993.0,2000.0,Cabriolet,4.6 MT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
2,3,AC,ACE,1 generation,1993.0,2000.0,Cabriolet,4.9 AT,Cabriolet,NaN,...,Helical springs,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
3,4,AC,ACE,1 generation,1993.0,2000.0,Roadster,2.9 AT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
4,5,AC,ACE,1 generation,1993.0,2000.0,Roadster,2.9 MT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [16]:
cars_df = cars_df[['Make', 'Modle']]
cars_df

      Make     Modle
0       AC       ACE
1       AC       ACE
2       AC       ACE
3       AC       ACE
4       AC       ACE
...    ...       ...
70818   ZX  Landmark
70819   ZX  Landmark
70820   ZX  Landmark
70821   ZX  Landmark
70822   ZX  Landmark

[70823 rows x 2 columns]

In [17]:
cars_df.rename(columns={'Modle': 'model'}, inplace=True)
cars_df.head()

  Make model
0   AC   ACE
1   AC   ACE
2   AC   ACE
3   AC   ACE
4   AC   ACE

In [18]:
# cpnvert to lower to match our lookup list made earlier
cars_df['Make'] = cars_df['Make'].str.lower()
cars_df['model'] = cars_df['model'].str.lower()
cars_df

      Make     model
0       ac       ace
1       ac       ace
2       ac       ace
3       ac       ace
4       ac       ace
...    ...       ...
70818   zx  landmark
70819   zx  landmark
70820   zx  landmark
70821   zx  landmark
70822   zx  landmark

[70823 rows x 2 columns]

In [19]:
# Seperate into different dfs for each make using lookup list 
makes_dfs = {}

for manufacturer in makes:
    # Create a DataFrame for each manufacturer
    makes_dfs[manufacturer] = cars_df[cars_df['Make'].str.lower() == manufacturer]

In [ ]:
# yota makes df 
toyota_makes_df = makes_dfs['toyota']
toyota_makes_df.drop_duplicates(inplace=True)
toyota_makes_df

C:\Users\browba\AppData\Local\Temp\ipykernel_33672\2483759027.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  toyota_makes_df.drop_duplicates(inplace=True)

         Make        model
58782  toyota       2000GT
58783  toyota      4Runner
58813  toyota        Allex
58829  toyota       Allion
58849  toyota      Alphard
...       ...          ...
64186  toyota       Windom
64195  toyota         Wish
64211  toyota        Yaris
64436  toyota  Yaris Verso
64440  toyota        Zelas

[167 rows x 2 columns]

In [ ]:
# attempt 2 using standard list made above

toyota_df['model'] = toyota_df['model'].str.lower()

# Define a list of standard model names
standard_models = toyota_makes_df['model']

# Use fuzzywuzzy's process.extractOne to find the best match for each model
# toyota_df['standard_model'] = toyota_df['model'].apply(lambda x: process.extractOne(x, standard_models)[0])

C:\Users\browba\AppData\Local\Temp\ipykernel_33672\625271554.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  toyota_df['model'] = toyota_df['model'].str.lower()
C:\Users\browba\AppData\Local\Temp\ipykernel_33672\625271554.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  toyota_df['standard_model'] = toyota_df['model'].apply(lambda x: process.extractOne(x, standard_models)[0])

In [ ]:
# ford makes df 
ford_makes_df = makes_dfs['ford']
ford_makes_df.drop_duplicates(inplace=True)
ford_makes_df

C:\Users\browba\AppData\Local\Temp\ipykernel_33672\845253341.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ford_makes_df.drop_duplicates(inplace=True)

       Make            model
21069  ford         Aerostar
21075  ford           Aspire
21078  ford           Bronco
21092  ford     Bronco Sport
21094  ford        Bronco-II
...     ...              ...
24084  ford  Tourneo Connect
24115  ford  Tourneo Courier
24121  ford   Tourneo Custom
24157  ford  Transit Connect
24171  ford         Windstar

[78 rows x 2 columns]

In [ ]:
ford_df['model'] = ford_df['model'].str.lower()

# Define a list of standard model names
standard_models = ford_makes_df['model']

# Use fuzzywuzzy's process.extractOne to find the best match for each model
# ford_df['standard_model'] = ford_df['model'].apply(lambda x: process.extractOne(x, standard_models)[0])

C:\Users\browba\AppData\Local\Temp\ipykernel_33672\2895662038.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ford_df['model'] = ford_df['model'].str.lower()
C:\Users\browba\AppData\Local\Temp\ipykernel_33672\2895662038.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ford_df['standard_model'] = ford_df['model'].apply(lambda x: process.extractOne(x, standard_models)[0])

In [ ]:
ford_df.head()

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,standard_model
184705,16000,2013.0,ford,taurus sho,excellent,6 cylinders,gas,86000.0,clean,automatic,4wd,sedan,white,md,Taurus
190751,28900,2018.0,ford,f-150,excellent,6 cylinders,gas,78031.0,clean,automatic,4wd,truck,grey,ma,F-150
186870,4299,2013.0,ford,taurus,good,6 cylinders,gas,176000.0,clean,automatic,fwd,sedan,brown,ma,Taurus
190703,4995,2011.0,ford,crown victoria,good,8 cylinders,gas,138000.0,clean,automatic,rwd,sedan,custom,ma,Crown Victoria
218126,24499,2015.0,ford,explorer sport,excellent,6 cylinders,gas,59524.0,clean,automatic,4wd,SUV,white,mn,Explorer Sport Trac

In [20]:
cars_df.drop_duplicates(inplace=True)
cars_df = cars_df[cars_df['Make'].isin(makes)]
cars_df

        Make              model
22     acura                 cl
31     acura                csx
33     acura                 el
35     acura                ilx
36     acura            integra
...      ...                ...
70441  volvo  v90 cross country
70453  volvo               xc40
70460  volvo               xc60
70528  volvo               xc70
70583  volvo               xc90

[1497 rows x 2 columns]

In [21]:
print(cars_df['model'].unique())

['cl' 'csx' 'el' ... 'xc60' 'xc70' 'xc90']

In [22]:
makes

array(['acura', 'alfa-romeo', 'aston-martin', 'audi', 'bmw', 'buick',
       'cadillac', 'chevrolet', 'chrysler', 'datsun', 'dodge', 'ferrari',
       'fiat', 'ford', 'gmc', 'harley-davidson', 'honda', 'hyundai',
       'infiniti', 'jaguar', 'jeep', 'kia', 'land rover', 'lexus',
       'lincoln', 'mazda', 'mercedes-benz', 'mercury', 'mini',
       'mitsubishi', 'nissan', 'pontiac', 'porsche', 'ram', 'rover',
       'saturn', 'subaru', 'tesla', 'toyota', 'volkswagen', 'volvo'],
      dtype=object)

In [23]:
# drop makes that aren't in the standard list
df_sorted = df_sorted[df_sorted['manufacturer'].isin(cars_df['Make'].unique())]

In [24]:
# ALL

# Define a list of standard model names
standard_models = cars_df['model']

# Use fuzzywuzzy's process.extractOne to find the best match for each model
df_sorted['standard_model'] = df_sorted['model'].apply(lambda x: process.extractOne(x, standard_models)[0])

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '♿']

In [25]:
path = "E:/Data analytics bootcamp/Challenges/final/data/Car_standard_models.csv"
df_sorted.to_csv(path)