In [3]:
import pandas as pd 
from fuzzywuzzy import process

c:\Users\Brown\anaconda3\envs\dev\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [ ]:
path = "E:/Data analytics bootcamp/Challenges/final/data/vehicles.csv"
df = pd.read_csv(path)
df.head()

In [ ]:
df.columns

In [ ]:
dropped_df = df.drop(columns=['url', 'region', 'region_url', 'image_url', 'description', 'county', 'lat', 'long', 'posting_date', 'VIN', 'size', 'id'])

In [ ]:
df_droppedna = dropped_df.dropna(axis=0, how='any')
df_droppedna

In [ ]:
df_sorted = df_droppedna.sort_values(by='manufacturer')
df_sorted.head()

In [ ]:
# lookup list of makes of our data
makes = df_sorted['manufacturer'].unique()
print(makes)

In [ ]:
# seperate into each make using lookup list
manufacturer_dfs = {}

for manufacturer in makes:
    # Create a DataFrame for each manufacturer
    manufacturer_dfs[manufacturer] = df_sorted[df_sorted['manufacturer'] == manufacturer]

In [ ]:
# begin splitting into makes dfs
toyota_df = manufacturer_dfs['toyota']

In [ ]:
# see how messy models are
toyota_models = toyota_df['model'].unique()
print(toyota_models)

In [ ]:
# first attempt model cleaning
from fuzzywuzzy import process

toyota_df['model'] = toyota_df['model'].str.lower()

# Define a list of standard model names
standard_models = ['tacoma', 'camry', 'corolla', 'prius', 'rav4', '4runner', 'tundra', 'prius', 'land cruiser', 'sienna', 'highlander', 'avalon', 'matrix', 'solara', '86', 'hiace', 'venza', 'yaris', 'celica', 'van', 'supra', 'townace', 'litace', 'tercel', 'mr2', 'chr'] 

# Use fuzzywuzzy's process.extractOne to find the best match for each model
# toyota_df['standard_model'] = toyota_df['model'].apply(lambda x: process.extractOne(x, standard_models)[0])
# relys on hardcoding and string matching, works but you have to manually find the correct model name, not ideal

Read CSV containing car makes and models to standardize models in above

In [ ]:
path = "E:/Data analytics bootcamp/Challenges/final/data/Car Dataset 1945-2020.xlsx"
cars_df = pd.read_excel(path)
cars_df.head()

In [ ]:
cars_df = cars_df[['Make', 'Modle']]
cars_df

In [ ]:
cars_df.rename(columns={'Modle': 'model'}, inplace=True)
cars_df.head()

In [ ]:
# convert to lower to match our lookup list made earlier
cars_df['Make'] = cars_df['Make'].str.lower()
cars_df['model'] = cars_df['model'].str.lower()
cars_df

In [ ]:
# Seperate into different dfs for each make using lookup list 
makes_dfs = {}

for manufacturer in makes:
    # Create a DataFrame for each manufacturer
    makes_dfs[manufacturer] = cars_df[cars_df['Make'].str.lower() == manufacturer]

In [ ]:
# yota makes df 
toyota_makes_df = makes_dfs['toyota']
toyota_makes_df.drop_duplicates(inplace=True)
toyota_makes_df

In [ ]:
# attempt 2 using standard list made above

toyota_df['model'] = toyota_df['model'].str.lower()

# Define a list of standard model names
standard_models = toyota_makes_df['model']

In [ ]:
threshold = 75  # Set your desired confidence threshold

# Define a function to apply to each row
def fuzzy_match(x):
    result = process.extractOne(x, standard_models)
    return result[0], result[1]

# Apply the function to the 'model' column
toyota_df[['standard_model', 'confidence']] = toyota_df['model'].apply(lambda x: pd.Series(fuzzy_match(x)))

In [ ]:
# Define a function to apply to each row
def fuzzy_match(x):
    result = process.extractOne(x, standard_models)
    return result[0], result[1]

# Apply the function to the 'model' column
df_sorted[['standard_model', 'confidence']] = df_sorted['model'].apply(lambda x: pd.Series(fuzzy_match(x)))

In [ ]:
path = "E:/Data analytics bootcamp/Challenges/final/data/final.csv"

df_sorted.to_csv(path)

In [4]:
from sklearn import preprocessing
import pandas as pd
le = preprocessing.LabelEncoder()

In [7]:
path = "E:/Data analytics bootcamp/Challenges/final/data/final.csv"
df = pd.read_csv(path)

In [8]:
df.head()

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,standard_model,confidence
0,24990,2018,acura,tlx 3.5 w/technology pkg,good,6 cylinders,other,45464,clean,other,fwd,sedan,blue,oh,echo,68
1,2399,2003,acura,mdx,fair,6 cylinders,gas,143000,clean,automatic,4wd,SUV,grey,nj,model f,60
2,0,2008,acura,tl type s,like new,6 cylinders,gas,99000,clean,automatic,fwd,sedan,black,nj,mr-s,86
3,10950,2012,acura,tsx,good,4 cylinders,gas,115162,clean,automatic,fwd,sedan,white,ks,sports 800,68
4,30995,2018,acura,mdx sh-awd,like new,6 cylinders,gas,48743,clean,automatic,4wd,SUV,grey,nj,c-hr,49

In [9]:
df.columns

Index(['price', 'year', 'manufacturer', 'model', 'condition', 'cylinders',
       'fuel', 'odometer', 'title_status', 'transmission', 'drive', 'type',
       'paint_color', 'state', 'standard_model', 'confidence'],
      dtype='object')

In [10]:
df[['manufacturer', 'condition',
       'cylinders', 'fuel', 'title_status', 'transmission',
       'drive', 'type', 'paint_color', 'state', 'standard_model']]=df[['manufacturer', 'condition',
       'cylinders', 'fuel', 'title_status', 'transmission',
       'drive', 'type', 'paint_color', 'state', 'standard_model']].apply(le.fit_transform)

In [11]:
df.head()

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,standard_model,confidence
0,24990,2018,0,tlx 3.5 w/technology pkg,2,5,4,45464,0,2,1,9,1,35,54,68
1,2399,2003,0,mdx,1,5,2,143000,0,0,0,0,5,31,87,60
2,0,2008,0,tl type s,3,5,2,99000,0,0,1,9,0,31,88,86
3,10950,2012,0,tsx,2,3,2,115162,0,0,1,9,10,16,131,68
4,30995,2018,0,mdx sh-awd,3,5,2,48743,0,0,0,0,5,31,21,49

In [ ]:
path = "E:/Data analytics bootcamp/Challenges/final/data/test.csv"
df.to_csv(path)